@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  width: 100%;
  position: fixed;
}

body {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to top,
    #dad4ec 0%,
    #dad4ec 1%,
    #f3e7e9 100%
  );
}

#__next {
  height: 100%;
  width: 100%;
}
